@charset "utf-8";

/* PSD파일로 작업 시 모든 사이즈 나누기 2 */

.main {
    padding: 48px 0 0 0;
}

.main .content {
    max-width: 640px;
    margin: 0 auto;
}

.main-content .title {
    font-size: 9px;
    font-weight: 800;
}

.main-container .common-btn {
    font-size: 6.5px;
    border-radius: 2px;
    width: 130px;
    height: 20px;
    line-height: 20px;
}

.main .content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main .content-box .desc {
    font-size: 8px;
    margin: 0 0 7.5px 0;
}
