@charset "utf-8";

/* 헤더 사이드 메뉴 콘텐츠 */
.header .btn.on {
  position: fixed;
  right: 20px;
}
.header .btn.on .btn-box {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.header .btn.on .btn-menu-line {
  display: block;
  width: 100%;
  height: 1.5px;
  background-color: #000;
}

.header .btn.on .btn-menu-line:nth-child(1) {
  position: absolute;
  top: 7px;
  left: 4px;
  transform: rotate(135deg) translateX(25%);
  background-color: #fff;
}

.header .btn.on .btn-menu-line:nth-child(2) {
  display: none;
}

.header .btn.on .btn-menu-line:nth-child(3) {
  position: absolute;
  top: 9px;
  left: 2px;
  transform: rotate(45deg) translateX(-12%);
  background-color: #fff;
}

.header .side-menu {
  position: fixed;
  top: 0;
  left: 1903px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #fff;
  transition: all 0.5s ease;
  overflow: scroll;
}

.header .side-menu.on {
  left: 0px;
  opacity: 1;
}

.header .side-menu.off {
  opacity: 0;
}

.header .side-bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  height: 132px;
  background-color: #d71c75;
}

.header .side-login {
  position: absolute;
  top: 50%;
  left: 22px;
  transform: translateY(-50%);
  text-align: center;
}

.header .side-login .profile {
  background: url('../image/kbu-image/side-menu-profile.png') no-repeat 0 0 / 100% auto;
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

.header .side-login .text {
  display: block;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  margin: 10px 0 0 0;
}

.header .side-list {
  padding: 132px 0 0 0;
}

.header .side-list .item {
  text-align: left;
}

.header .side-list .item.on .side-list02 {
  display: block;
}

.header .side-list .link {
  font-size: 16px;
  padding: 0 22px;
  height: 44px;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  margin-top: -1px;
  line-height: 44px;
  position: relative;
  display: block;
}

.header .side-list.on .link {
  color: #0964c9;
}

.header .side-list .link::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 22px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url('../image/kbu-image/side-list-btn.png') no-repeat 0 0 / 100% auto;

}

.header .side-list02 {
  display: none;
  background-color: #eee;
  padding: 0 44px;
}

.header .side-list02 .link02 {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
  position: relative;
}

.header .side-list02 .link02::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background-color: #000;
  border-radius: 50%;
}
