@charset "utf-8";

/* 
    px 나누기 2
*/

.inner-center {
    padding: 0 10px;
    margin: 0 10px;
}

.header .content {
    position: relative;
    height: 44px;
}

.header .logo {
    position: absolute;
    top: 8px;
    left: 0px;
}

.header .logo-img {
    width: 80px;
    display: block;
}

.header .btn-menu {
    position: absolute;
    top: 16px;
    right: 0;
    width: 20px;
    height: 11.5px;
    background: none;
}

.header .btn-menu-line {
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: #000;
}

.header .btn-menu-line+.btn-menu-line {
    margin: 3.5px 0 0 0;
}

.main .visual-img-box {
    overflow: hidden;
}

.main .visual-img {
    display: block;
    width: 170%;
    transform: translateX(-16%);
}

.main .tab-item {
    background-color: #333333;
    border-bottom: 1px solid #777777;
}

.main .tab-link {
    display: block;
    height: 44px;
    line-height: 44px;
    padding: 0 55px;
    box-sizing: border-box;
    color: #f9f9f9;
    position: relative;
}

.main .tab-link::before {
    content: '';
    position: absolute;
    top: 12px;
    left: 20px;
    width: 20px;
    height: 20px;
    background-color: #fff;
}

.main .tab-link::after {
    content: '';
    width: 14px;
    height: 14px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    display: inline-block;
    transform: rotate(135deg);
    position: absolute;
    top: 10px;
    right: 40px;
}

.main .news-kbu {
    padding: 40px 0;
}

.main .news-kbu-content {
    padding: 0 10px;
    margin: 0 10px;
}

.main .news-kbu-title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: -1px;
}

.main .news-kbu-notice {
    border: 1px solid #dddddd;
    background-color: #f7f7f7;
    padding: 15px;
    height: 194px;
    text-overflow: ellipsis;
    position: relative;
}

.main .news-kbu-notice .notice-list {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dbdbdb;
    padding: 0 0 12px 0;
}

.main .news-kbu-notice .notice-item {
    font-size: 16px;
    display: inline-block;
}

.main .news-kbu-notice .notice-link {
    position: relative;
    padding: 0 5px;
}

.main .news-kbu-notice .notice-link.on::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -13px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #d71c75;
}

.main .news-kbu-notice .txt-list {
    position: absolute;
    top: 62px;
    left: 0;
    white-space: nowrap;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

.main .news-kbu-notice .txt-item {
    margin-bottom: 12px;
}

.main .news-kbu-notice .txt-item::after {
    content: '';
    display: block;
    clear: both;
}

.main .news-kbu-notice .txt-link {
    float: left;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 25px;
    box-sizing: border-box;
    font-size: 13px;
}

.main .news-kbu-notice .txt-link:hover {
    text-decoration: underline;
}

.main .news-kbu-notice .txt-date {
    float: right;
    width: 20%;
    text-align: right;
    font-size: 13px;
}

.main .kbu-calendar {
    background-color: #0964c9;
    padding: 15px;
    position: relative;
}

.main .kbu-calendar .line {
    background-color: #fff;
}

.main .kbu-calendar-title {
    background-color: #0964c9;
    color: #fff;
    margin-bottom: 14px;
}

.main .kbu-calendar-item+.kbu-calendar-item {
    margin-top: 10px;
}

.main .kbu-calendar-link {
    display: block;
}

.main .kbu-calendar-date {
    float: left;
    border: 1px solid #84b6ee;
    color: #fff;
    font-size: 16px;
    padding: 7px 5px;
    margin: 6px 20px 0 0;
}

.main .kbu-calendar-txt {
    color: #fff;
}

.main .kbu-calendar-subtxt {
    color: #fff;
    opacity: 0.7;
    font-weight: 200;
}

.main .bachelor {
    background-color: #d71c75;
    padding: 15px;
    position: relative;
}

.main .bachelor .line {
    background-color: #fff;
}

.main .kbu-bachelor-title {
    color: #fff;
}

.main .kbu-bachelor-txt {
    color: #fff;
    opacity: 0.7;
    font-weight: 200;
    font-size: 13px;
}

.main .job {
    background-color: #f7f7f7;
    border: 1px solid #dddddd;
    padding: 15px;
    position: relative;
}

.main .job .line {
    background-color: #323232;
}

.main .kbu-job-title {
    color: #212121;
}

.main .kbu-job-txt {
    color: #555555;
    font-weight: 200;
    font-size: 13px;
}
